In [3]:
%pip install pandas numpy

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Users/workspace/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data Analyst Project/Data-Cleaning-Practical-Examples/.venv/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy in /Users/workspace/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data Analyst Project/Data-Cleaning-Practical-Examples/.venv/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/workspace/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data Analyst Project/Data-Cleaning-Practical-Examples/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/workspace/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data Analyst Project/Data-Cleaning-Practical-Examples/.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/workspace/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data Analyst Project/Data-Cleaning-Practical-Examples/.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/workspace/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data Analyst Project/Data-Cleaning-Practical-Examples/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
df = pd.read_csv('raw_dataset.csv')

In [35]:
df

,First Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   First Name       100 non-null    object
 1   Last name        100 non-null    object
 2   Age              100 non-null    object
 3   SALARY           100 non-null    object
 4   STREET Address1  100 non-null    object
 5   STREET Address2  100 non-null    object
 6   STREET Address3  100 non-null    object
 7   email            100 non-null    object
dtypes: object(8)
memory usage: 6.4+ KB

In [27]:
df.describe()

,First Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
count,100,100,100,100,100,100,100,100
unique,91,97,91,100,100,100,100,100
top,Abbot,Conrad,09/27/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
freq,2,2,2,1,1,1,1,1

In [31]:
df.shape

(100, 8)

In [34]:
df.dtypes

First Name         object
Last name          object
Age                object
SALARY             object
STREET Address1    object
STREET Address2    object
STREET Address3    object
email              object
dtype: object

In [36]:
type(df)

pandas.core.frame.DataFrame

In [49]:
df.columns.values

array(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'], dtype=object)

In [56]:
df.columns.to_list()

['First Name',
 'Last name',
 'Age',
 'SALARY',
 'STREET Address1',
 'STREET Address2',
 'STREET Address3',
 'email']

In [57]:
df.columns.to_series()

First Name              First Name
Last name                Last name
Age                            Age
SALARY                      SALARY
STREET Address1    STREET Address1
STREET Address2    STREET Address2
STREET Address3    STREET Address3
email                        email
dtype: object

In [58]:
df.columns.to_frame()

                               0
First Name            First Name
Last name              Last name
Age                          Age
SALARY                    SALARY
STREET Address1  STREET Address1
STREET Address2  STREET Address2
STREET Address3  STREET Address3
email                      email

In [61]:
df.columns.__contains__('First Name')

True

In [65]:
df.columns.duplicated()

array([False, False, False, False, False, False, False, False])

In [66]:
df.columns.str.lower()

Index(['first name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [68]:
df.columns.str.upper()

Index(['FIRST NAME', 'LAST NAME', 'AGE', 'SALARY', 'STREET ADDRESS1',
       'STREET ADDRESS2', 'STREET ADDRESS3', 'EMAIL'],
      dtype='object')

In [69]:
df.columns.str.title()

Index(['First Name', 'Last Name', 'Age', 'Salary', 'Street Address1',
       'Street Address2', 'Street Address3', 'Email'],
      dtype='object')

In [70]:
df.columns.str.replace(' ','_')

Index(['First_Name', 'Last_name', 'Age', 'SALARY', 'STREET_Address1',
       'STREET_Address2', 'STREET_Address3', 'email'],
      dtype='object')

In [77]:
df.columns = df.columns.str.title()
df.columns = df.columns.str.replace(' ','_')

In [78]:
df.rename(columns={'Age':'Date_of_Birth'})

,First_Name,Last_Name,Date_of_Birth,Salary,Street_Address1,Street_Address2,Street_Address3,Email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [82]:
df.rename(columns={'Age':'Date_of_Birth'}, inplace=True)

In [90]:
len(df.columns.values)

8

In [93]:
df.columns.values[7] = 'Email_Address'

In [100]:
df.columns.difference(['Salary'])

Index(['Date_of_Birth', 'Email_Address', 'First_Name', 'Last_Name',
       'Street_Address1', 'Street_Address2', 'Street_Address3'],
      dtype='object')

In [102]:
df.filter(like='Street').columns

Index(['Street_Address1', 'Street_Address2', 'Street_Address3'], dtype='object')

In [103]:
df.loc[:,df.columns.str.endswith('ame')].columns

Index(['First_Name', 'Last_Name'], dtype='object')

In [115]:
df.filter(regex='ame$',axis=1).columns

Index(['First_Name', 'Last_Name'], dtype='object')

In [116]:
df.columns[1:3]

Index(['Last_Name', 'Date_of_Birth'], dtype='object')